<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @new_book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<%= render 'books/show', user: @user, book: @book %>

		<div id="list_of_comments">
			<%= render 'books/list_of_comments', book_comments: @book_comments %>
		</div>

			<%= form_with( model:[ @book, @new_book_comment], remote: true) do |f| %>
				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment, id:"comment_form" %>
					</div>
				</div>
						<%= f.submit "送信" %>
			<% end %>

	</div>
</div>

